/* Components
------------------------------------------------------------*/

.c-picture {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  padding-bottom: 100%;
  background: var(--main-bg-cl);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }
}

.c-card {
  width: 100%;
  height: auto;
  pointer-events: auto;

  &:hover {
    img {
      //   transform: scale(1.03);
    }
  }

  .c-picture {
    img {
      transition: transform 0.5s ease,
        opacity 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }
}
