/* variables
------------------------------------------------------------*/

:root {
  --app-height: 100vh;
  --menu-height: 100vh;

  --main-fonts: "Overpass Mono", monospace;
  --noto-fonts: "Noto Sans JP", sans-serif;
  --m-plus-fonts: "M PLUS 1p", sans-serif;

  --main-bg-cl: #fcfaf1;
  --main-text-cl: #e03c31;
}
